.con{
  display: flex;
  height: 700px;
  width: 1350px;

}
.p1{
  display: block;
  flex-direction: column;
  height: 690px;
  width: 40%;
  margin-right: 10px;
  margin-left: 150px;
}
.p2{
  display: block;
  height: 690px;
  width: 40%;

}
.pro1{
  border: 1px solid black;
  margin:10px 150px;
  width: 300px;
  text-align: center;
  padding: 20px;
}
.btn1{
  margin-right: 10px;
}
button{
  padding: 5px;
  background-color: lightgoldenrodyellow;
  color: black;
  height: 30px;
  width: 30px;
  border: none;
}
button:hover{
  box-shadow: 0px 0px 4px yellow;
}
.cart{
  text-align: center;
  margin: 80px;
  border: 1px solid black;
}
p{
text-align: left;
margin: 50px;
}
